<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
    
    <a class="active" href="#home">Home</a>
    <a routerLink='../login'>Login</a>
    <a routerLink='../signup' >Signup</a>
    <a href="#about">Home</a>
  
</div>
<br>
  <div class="image1">

  </div>
  
<div class="container">
	<div class="row">
    <br>
    <br>
    <br>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbXU1hdNagA1TO_irqAotj63l81iQhkwjxXw&usqp=CAU"/>
          <div class="content-heading"><h3><b><i><u>HEALTHY DIET</u></i></b> </h3></div>
          <p>  Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity, your diet can help you to reach and maintain a healthy weight, reduce your risk of chronic diseases (like heart disease and cancer), and promote your overall health..</p>
          
        </div>
     </div>
     <br/>
      <div class="row">
        <div class="span4">
          <img class="img-right" src="https://www.cmu.edu/news/stories/archives/2016/february/images/meditation_853x480.jpg-min.jpg"/>
          <div class="content-heading"><h3><b><i><u>MEDITATION</u></i></b></h3></div>
          <p>Meditation is a practice where an individual uses a technique – such as mindfulness, or focusing the mind on a particular object, thought, or activity – to train attention and awareness, and achieve a mentally clear and emotionally calm and stable state. </p>
         
        </div>
     </div>
    </div>
    <br>
    <br>
    <br>
    <div class="block">
        <div class="row">
          <div class="span4">
            <img class="img-left" src="https://cdn.doyou.com/articles/the-10-most-important-yoga-poses-for-beginners-25270-bbaRsJ6k.jpg=w768"/>
            <div class="content-heading"><h3><b><i><u>YOGA</u></i></b> </h3></div>
            <p>  Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India. Yoga is one of the six Āstika (orthodox) schools of Hindu philosophical traditions.It enhances inner peace and combines our inner body and soul. in fitness tracker we have good gurus and certified trainers to develope your innerpeace</p>
           
          </div>
       </div>
       <br>
       <div class="row">
        <div class="span4">
          <img class="img-right" src="https://hips.hearstapps.com/ame-prod-menshealth-assets.s3.amazonaws.com/main/thumbs/32597/bodyweight-workout.jpg?crop=1xw:0.954653937947494xh;center,top&resize=1200:*"/>
          <div class="content-heading"><h3><b><i><u>EXERCISE</u></i></b> </h3></div>
          <p>A good workout can shape your body and promotes your physical health, our trainers will take a good care to make you physically strong. A Physically fit person can be more confident and peaceful, here in fitness tracker we always care for you in every way possible and makes you achieve your physical goals.</p>
          
        </div>
     </div>
    </div>
    <div class="block">
        <div class="row">
          <div class="span4">
            <img class="img-left" src="https://qph.fs.quoracdn.net/main-qimg-5f1ef4a1989eda7712ebbedcf0ac13a4"/>
            <div class="content-heading"><h3><b><i><u>ZUMBA</u></i></b> </h3></div>
            <p>  Zumba is a physical workout which is fun and effective, it is a danceform created in colombia for the physical exercise of the people, in fitness tracker our amzing and talented trainers will make you tap your feet and loose weight, every tap and every move counts.</p>
           
          </div>
       </div>
</div>


<div class="image2">
    
</div>






<h1 class="text-center">Pick the best plan for you</h1>

<div class="pricing-box-container">
	<div class="pricing-box text-center">
		<h5>Free</h5>
		<p class="price"><sup>₹</sup>0<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>1</strong> Project</li>
			<li><strong>5</strong> Team Members</li>
			<li><strong>50</strong> Personal Projects</li>
			<li><strong>5,000</strong> Messages</li>
		</ul>
		<button class="btn-primary">Get Started</button>
	</div>

	<div class="pricing-box pricing-box-bg-image text-center">
		<h5>Premium</h5>
		<p class="price"><sup>₹</sup>5000<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>5</strong> Project</li>
			<li><strong>20</strong> Team Members</li>
			<li><strong>100</strong> Personal Projects</li>
			<li><strong>15,000</strong> Messages</li>
		</ul>
		<button class="btn-primary">Get Started</button>
	</div>

	<div class="pricing-box text-center">
		<h5>Platinum</h5>
		<p class="price"><sup>₹</sup>7000<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>25</strong> Project</li>
			<li><strong>50</strong> Team Members</li>
			<li><strong>500</strong> Personal Projects</li>
			<li><strong>50,000</strong> Messages</li>
		</ul>
		<button class="btn-primary">Get Started</button>
	</div>
</div>
<iframe width="1100" height="400"
src="https://www.youtube.com/embed/wnHW6o8WMas?autoplay=1">
</iframe>

<footer class="site-footer">
    <div class="footercontainer">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"><b>Fitness Tracker</b> is established to give the healthy life back to the people who were in the search of health and well-being because <i>EVERYONE DESERVES TO BE HEALTHY AND FIT</i></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Our Services</h6>
          <ul class="footer-links">
            <li><a href="https://www.google.com/search?q=cardio"> Cardio</a></li>
            <li><a href="https://www.google.com/search?q=weight%20training">Weight training</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk00NrDzl7fU4BZjCgU964njQ4jFGCg%3A1593100327161&ei=J8j0XtS9Cd3Wz7sPn_q16A4&q=yoga&oq=yoga&gs_lcp=CgZwc3ktYWIQAzIHCAAQsQMQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIFCAAQsQM6BwgjEOoCECc6BAgjECc6BQgAEIMBOgIIAFCaqgFYqa8BYP-wAWgBcAB4AIABzwGIAdADkgEFMC4yLjGYAQCgAQGqAQdnd3Mtd2l6sAEK&sclient=psy-ab&ved=0ahUKEwiU7d2YqZ3qAhVd63MBHR99De0Q4dUDCAw&uact=5">Yoga</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk03-qMXon0xm7usw5-QeX5J5MvIWlQ%3A1593100372284&ei=VMj0Xr_4EKfjz7sPiMS1qAs&q=meditation&oq=medi&gs_lcp=CgZwc3ktYWIQAxgAMgcIABCxAxBDMgQIABBDMgIIADIHCAAQFBCHAjIFCAAQsQMyAggAMgIIADICCAAyBQgAELEDMgUIABCDAToHCCMQ6gIQJzoECCMQJzoFCAAQkQJQrcoCWIDPAmD_2AJoAXAAeACAAY4CiAGvB5IBBTAuMS4zmAEAoAEBqgEHZ3dzLXdperABCg&sclient=psy-ab">Meditation</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk01UccHaQvzWEt43Gz_w1wr7_WTCUw%3A1593100351010&ei=P8j0Xt0f3eLPuw_F3r24CQ&q=pilates&oq=pilates&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECAAQQzIHCAAQsQMQQzIKCAAQsQMQFBCHAjIECAAQQzIFCAAQsQMyBAgAEEMyBAgAEEMyBQgAELEDMgQIABBDOgcIIxDqAhAnOgIIADoFCAAQgwFQ2ZMBWKqbAWDGnAFoAXAAeACAAZQCiAGECZIBBTAuMS40mAEAoAEBqgEHZ3dzLXdperABCg&sclient=psy-ab&ved=0ahUKEwidu42kqZ3qAhVd8XMBHUVvD5cQ4dUDCAw&uact=5">Pilates</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk02mxh2yEGhVZ1wWofHn3TklNUBIwA%3A1593100417484&ei=gcj0XrSOHdXD3LUPrYiY-AM&q=zumba&oq=zumba&gs_lcp=CgZwc3ktYWIQAzIECAAQQzIECAAQQzIHCAAQsQMQQzIFCAAQsQMyBwgAEBQQhwIyAggAMgUIABCxAzIFCAAQsQMyAggAMgUIABCxAzoHCCMQ6gIQJzoECCMQJzoFCAAQkQI6CAgAELEDEJECUPqcAVjzpQFgsacBaAFwAHgAgAGTAogBwQeSAQMyLTSYAQCgAQGqAQdnd3Mtd2l6sAEK&sclient=psy-ab&ved=0ahUKEwj00ubDqZ3qAhXVIbcAHS0EBj8Q4dUDCAw&uact=5">Zumba</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Fitness Tracker</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>